:root {
  --primary: #f85555;
  --light-gray: #dcd9d9;
  --gray: #c7c7c7;
  --dark-gray: #4f4f4f;
  --text-gray: #ababab;
}

.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 2rem;
}
.register-form h2 {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 30px;
}

.register-form div {
  margin-bottom: 10px;
}

.register-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-gray);
}

.register-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.register-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.register-form button:hover {
  background-color: var(--dark-gray);
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 4rem;
}
.login-form h2 {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 30px;
}

.login-form div {
  margin-bottom: 10px;
}

.login-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-gray);
}

.login-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.login-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.login-form button:hover {
  background-color: var(--dark-gray);
}
.ProductI {
  display: flex;
  justify-content: center;
  margin: 2rem;
  flex-wrap: wrap;
}
.LogOut {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LogOut img {
  max-width: 320px;
  transition: transform 0.3s ease-in-out;
}

.LogOut button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f85555;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.LogOut button:hover {
  background-color: #972d2d;
}

@media (max-width: 450px) {
  .register-form,
  .login-form {
    padding: 15px;
  }
  .register-form h2,
  .login-form h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .register-form div,
  .login-form div {
    margin-bottom: 8px;
  }
  .register-form label,
  .login-form label {
    font-size: 0.9rem;
  }
  .register-form input,
  .login-form input {
    font-size: 0.9rem;
  }
  .register-form button,
  .login-form button {
    padding: 8px;
    font-size: 0.9rem;
  }
}
